.wrapper{
    
    flex-direction: column;
    border: 3px solid white;
    border-radius: 1rem;
    background-color: white;
    margin: 0 auto;
    width: 33.65%;
    align-items: center;
    font-family: 'Red Hat Display';
    font-weight: 500;
}

.top{
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
}

body{
    text-align: center;
    background-color: hsl(224, 23%, 55%);
}

.boy{
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
    align-self: flex-start;
    border: 1px solid white;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.picture{
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
    padding: 0;
    margin: 0;
}

.button{
    line-height: 4rem;
    background-color: hsl(245, 75%, 52%);
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0 5rem 0 5rem;
    margin: 1rem 0 auto;
    display: block;
    font-weight: 700;
    color:white
}

.lastext{
    line-height: 5rem;
    color:  hsl(223, 47%, 23%);

}

.plan{
    width: 90%;
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column nowrap;
    border: 3px solid green;
    justify-content: center;
    align-items: center;
    background-color:  hsl(225, 100%, 98%);
}

div a.change{
   border: 3px solid purple;
}